<div class="home-description">
  <h1>Bienvenido a QualaSucursales</h1>
  <p>
    <strong>QualaSucursales</strong> es una aplicación web desarrollada como parte de una <b>prueba técnica</b>.<br>
    Su objetivo es demostrar habilidades en el desarrollo de aplicaciones modernas con <b>Angular</b> y <b>.Net 6</b>, implementando:
  </p>
  <ul>
    <li>Gestión y visualización de sucursales.</li>
    <li>Panel administrativo con dashboard y estadísticas.</li>
    <li>Autenticación y registro de usuarios.</li>
    <li>Control de acceso por roles (admin y usuario público).</li>
  </ul>
 <p>
  Procedimiento:
    <br>
    
  </p>
  <ul>
    <li>Registra un nuevo usuario</li>
    <li>Entra con el usuario, te redirige al panel de administrador</li>
    <li>entra en los registros de sucursales</li>
  </ul>
  <p>
    Esta prueba técnica busca evaluar buenas prácticas, arquitectura modular, uso de servicios, guardias, componentes reutilizables y experiencia de usuario.
  </p>
  <p>
    <i>Desarrollado por Sergio para proceso de selección técnica.</i>
  </p>
</div>
